body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #212529;
    color:white;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #495057;
    color: white;
   
  }
  

  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .nav-menu div {
    display: flex;
    gap: 25px;

  }
  

 
  .nav-menu a {
    margin: 0 50px; 
    color: white;
    text-decoration: none;
  }

  .logo {
    width: 50px;
   
  }

  .icon {
    display: none;
  }
  
 

  @media only screen and (max-width: 768px) {
    header {
     display: flex;
     flex-direction: row;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 8px;
     
     
    }

.logo {
    display: none;
}
  
    .nav-menu {
      width: 100%;
      max-width: 400px;
      font-size: 9px;
      margin:2px;
     
      
    }
  
    .nav-menu div {
        display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    
    }

    .nav-menu a {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 1px;
        color: white;
        text-decoration: none;
      
    }
  
 
    .icon {
        display: block;
        width: 20px; 
        height: 20px;
        
      
    }
  }


  /*sign in & Register */

.login-title {
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
}

  .container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white; 
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
    
  }

  @media only screen and (max-width: 768px) {
    .container {
        margin: 75px auto; 
        width: 90%;
        height: auto; 
    }

    .form {
        width: 80%; 
    }

    .login-title {
        font-size: 25px;
    }

    button {
        margin: 5px;
    }

    
}
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  
  .label {
    margin-bottom: 3px;
    text-align: center;
  }
  
  .input {
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    width:100%;
    
  }
  
  .button {
    margin-top:8px;
    color: white;
    padding: 6px;
    cursor: pointer;
    width: 175px;
    border-radius: 10px;
    background-color: #495057;
    
  }
  
  .registerLink {
    margin-top: 10px;
    
  }

  .registerLink a {
   text-decoration: none;
   color: white;
    
  }

  .forgot-password {
    text-align: center;
  }

  /*About page*/

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.about-image {
    height: 70px;
}

@media only screen and (max-width: 768px) {
    .about-container {
        margin: 100px auto;
        margin-top: 4px;
        width: 65%;
        height: auto;
        text-align: center;
    }

    .about-image {
        height: 40px;
        margin-top:6px;
    }
}

/*Resource page*/

.resources-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

.resources-container a {
    color: #adb5bd;
    font-size: 15px;
}

.resources-container a:hover {
    text-decoration: none;
    color: white;
}

h3 {
    margin-top:30px;
  
}

.resource-title {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .resources-container {
        margin: 100px auto;
        margin-top: 4px;
        width: 65%;
        height: auto;
        text-align: center;
    }
}

/*Muscle Groups*/

.group-title {
    text-align: center;
}

.group-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .muscle-box {
    margin: 10px; 
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
    
  }
  
  .muscle-name {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0; 
    padding: 8px; 
  }

  .muscle-box img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
  }

  .group-container a {
    text-decoration: none;
    color: inherit; 
  }

  @media only screen and (max-width: 768px) {
    .group-container {
        display: flex;
        margin: 100px auto;
        margin-top: 4px;
        width: 65%;
        height: auto;
        text-align: center;
    }

    .muscle-name {
        font-size: 12px;
        padding:3px;
    }

 .muscle-box img {
    width: 100px;
    height: 75px;
 }
  }




/*Movement page*/

.movement-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
}

.movement-container {
    padding: 50px;
  }
  
  .movement-item {
    display: flex;
    margin: 15px;
    border: 2px solid black;
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
  }
  
  .movement-item img {
    width: 300px; 
    margin-right: 20px;
    height: 200px;
    border: 2px solid black;
    
  }
  
  .movement-details {
    flex: 1;
    
  }

  .movement-img {
    margin:5px;
  }
  
  .workout-type {
    border: 2px solid;
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 13px;
    color: black;
  }

  .add-movement  {
    margin: 40px 0px 10px 200px;
  }

  .add-button {
    
    color: white;
    padding: 6px;
    cursor: pointer;
    width: 175px;
    border-radius: 10px;
    background-color: #495057;
    
  }

  .add-movement a {
    color: white;
    font-size: 15px;
    text-decoration: none;

  }

  
  .workout-type.body-weight {
    border-color: #ffdc5e;
    background-color: #ffdc5e;
  }
  
  .workout-type.dumbbell {
    border-color: #7ae582;
    background-color: #7ae582;
  }
  
  .workout-type.machine {
    border-color: #1e96fc;
    background-color: #1e96fc;
  }

  @media (max-width: 768px) {
    .movement-item {
        flex-direction: column; 
       align-items: center;
        width: 250px;
        padding: 10px;
    }

    .movement-container {
     padding: 30px;
    }

    .movement-item img {
    width: 100%;
    margin: 10px;
    
    }

    .movement-details {
        margin: 5px;
        text-align: center;
    }

    .add-movement {
        text-align: center;
        margin: 10px;
        
      }
    
     
}

/*add workout form*/

.form-container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white; 
    border-radius: 20px;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
}

.textarea-input {
    padding: 5px;
    margin: 5px 0px 0px 5px;
    border: 1px solid white;
    background: transparent;
    color: white;
    width:100%;
}

.back-link {
    color: #adb5bd;
    font-size: 20px;
    text-decoration: none;
    margin-top: 50px;
}

.back-link:hover {
    color: white;
}

@media (max-width: 768px) { 
 .form-container {
 margin: 100px auto; 
 width: 90%;
 height: auto; 
}

.form {
 width: 80%; 
}


}

/*Workout Overview*/

.overview-title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 50px;
}

.workout-list {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  
  .workout-item {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
   
  }
  
  .workout-item > div {
    margin-bottom: 5px;
  }

  .workout-notes {
   width: 200px;

  }
  
  .workout-item button {
    margin-left: 10px;
  }
  
  .overview-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .delete-button {
    margin-top:8px;
    color: white;
    padding: 6px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 10px;
    background-color: #495057;
  }

  .overview-stats {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .widget {
    border: 1px solid black;
    box-shadow: 0 0 20px 5px rgba(244, 242, 242, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    body {
      margin: 0; 
      padding: 0; 
    }
  
    .overview-title {
      font-size: 20px;
    }

    .overview-stats {
        padding: 2px;
        flex-direction: column;
    }

    .widget {
    font-size: 15px;
    margin: 2px;
    }

    .workout-list {
      width: 100%; 
      margin: 1px;
      padding: 0;
      flex-direction: column;
      height: auto;
    
    }
  
    .workout-item {
      font-size: 15px;
      flex-direction: column;
      width: 100%;
      margin-bottom: 5px;
      box-sizing: border-box;
    
      
    
    }
  
    .workout-notes {
      width: 100%;
    }
     
      
  }




